:root {
    --accent: #3a99fd;
    --accentHover: #0056b3;
    --popupOverlay:rgba(0, 0, 0, 0.5);
}
body{
    overflow-x: hidden;  
    background-color: var(--accent); 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: fit-content;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
button{
    border: none;
    border-radius: 6px;
        background-color: var(--accent);
    font-size: 1.5vw;
    color: white;
    
}
button:hover{
    background-color: var(--accentHover);
}
p{margin:0}
#input{
    /* justify-content: flex-start;  */
    #buttons{
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        margin-top: 5%;
        button{
            width: 30%;
            height: 9vh;
            /* margin-inline:0.5%; */
            
            margin-bottom: 0.5%;
            /* background-color: var(--accent); */
            
        }
    }
}




