

:root {
    --accent: #3a99fd;
    --accentHover: #0056b3;
    --popupOverlay:rgba(0, 0, 0, 0.5);
}
.subEntry{
    text-align: center;
}
.selectMain{             
    height:fit-content;
    width: 100%;
    margin-top: 1%;
    .selectSub{
        position: relative;
        display: flex;
        flex-wrap:nowrap;
        position: relative;
        height:fit-content;
        width: 100%;
        overflow-x: auto;
        overflow-y:hidden;
        margin-top:1%;
    }
}
body{
    overflow-y: hidden;
}
button{
    border: none;
    border-radius: 6px;
    background-color: var(--accent);
    font-size: 1.5vw;
    color: white;
    
}
button:hover{
    background-color: var(--accentHover);
}
p{margin:0}
.mini{
    position: relative;
    width:6vw;
    /* height: fit-content; */
    height: 18vh;
    
    margin-inline: 2%;
    margin-bottom: 2%;
    button{
        width:inherit;
        padding: 5%;
        
        height: 100%;
        
        img{
            width: 100%;
            border-radius: 2px;
        }
        p{
            width:100%;
            text-align: center;
            overflow-wrap: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            font-size: 1.2vw;
        }   
        #code{
            font-size: 0.8vw;
        }
        #plus{
            font-size: 4.5vw;
            
        }
        #text{
            font-size: 1vw;
            text-align: center;
            overflow-wrap: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}
#main{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 96%;
    justify-content: space-evenly;
    width: 98%;
    padding-top: 0;
    padding: 1%;
    margin-top: 0; 
    .box{
        position: relative;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
        /* border: 1px solid #ced4da; */
        /* background-image: linear-gradient(135deg, aqua, rgb(47, 168, 168)); */
        background: white;
        overflow-y:auto;
        /* overflow-x:hidden; */
        height:100%;
        width: 100%;
        /* margin-inline: 0.5%; */
        .title{
            position:relative;
            font-size: 2vw;
            width: 100%;
            height: fit-content;
            margin-block:0;
            margin-top: 5%;
            /* margin-block: 5%; */
            text-align: center;
            
        }
    }
    
}
#cameraPopup{
    background-color: var(--popupOverlay);
    width: 100vw;
    height:100%;
    visibility: hidden;
    position: absolute;
    button{
        padding-block: 3%;
        padding-inline: 5%;
        margin-top: 2%;
        visibility: inherit;
    }
    .container{
        display: flex;
        border-radius: 8px;
        flex-wrap: wrap;
        width: 80%;
        min-height: 80vh;
        height: auto;
        background-color: white;
        justify-content: center;
        margin-inline: 8%;
        margin-top: 2%;
        
        padding: 2%;
        .xButtonDiv{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: fit-content;
            margin: 0;
            justify-content: flex-end;
            .x{
                padding:0;
                width: 2vw;
                height: 2vw;
                    
            }
        }
        #box{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 70vh;
            #camera{
                position: absolute;
                visibility: inherit;
                width: 100%;
                height: fit-content;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                #video{
                    visibility: inherit;
                    height: 55vh;
                    width: fit-content;
                    margin-inline: 100%;
                            
                }
                
            }
            #confirm{
                display:none;
                visibility: hidden;
                position: absolute;
                visibility: hidden;
                width: 100%;
                margin-top: 3%;
                height: fit-content;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                #canvas{
                    visibility: inherit;
                    height: 55vh;
                    width: fit-content;
                    margin-inline: 100%;
                    height: fit-content;
                }
                button{
                    visibility: inherit;
                    margin-inline: 5%;
                }
            }
        }
    }
    
}
#locationPopup{
    background-color: var(--popupOverlay);
    width: 100vw;
    height:100%;
    
    visibility: hidden;
    position: absolute;
    .container{
        
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        min-height: 80vh;
        height: fit-content;
        background-color: white;
        
        margin-inline: 8%;
        margin-top: 2%;
        
        padding: 2%;
        .xButtonDiv{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: fit-content;
            margin: 0;
            justify-content: flex-end;
            .x{
                padding:0;
                width: 2vw;
                height: 2vw;
                    
            }
        }
        #locationBarcode{
            position: absolute;
            width: inherit;
            visibility: hidden;
            margin-top: 5%;
            font-size: 1.5vw;
            #scan{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                height: fit-content;
                p{
                    width: 20%;
                    height: fit-content;
                }
                input{
                    font-size: 1.5vw;
                    width:100%;
                    height: 20%;
                }
                #submit{
                    margin-top: 2%;
                    width:20%;
                    height:fit-content;
                    padding-top: 2%;
                    padding-bottom: 2%;
                }
            }
            
            .or{
                text-align: center;
                margin-bottom: 2%;
                margin-top: 3%;
            }
        } 
        #locationInfo{
            visibility: hidden;
            display: flex;
            position: absolute;
            margin-top: 3%;
            width: inherit;
            height: inherit;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: center;
            #topDiv{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                width: 100%;
                height: 20vh;
                padding-inline: 3%;
                #locImg{
                    
                    height:100%;
                }
                #imgButtonDiv{
                    width: 20%;
                    height: 100%;
                    #imgButton{
                        margin-top: 5%;
                        height: fit-content;
                        width: 100%;
                        padding-top: 10%;
                        padding-bottom: 10%;
                    }
                }
                #barcodeImg{
                    margin-top: 0;
                    margin-left: 10%;
                    /* max-height: 13vh; */
                    height: 100%;
                    width: fit-content;
                } 
                #printDiv{
                    margin-top: 1%;
                    width:20%;
                    height: 100%;
                    #print{
                        height: fit-content;
                        width: 100%;
                        padding-top: 10%;
                        padding-bottom: 10%;
                    }
                }
            } 
            #inputDiv{
                /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), white 10%, white 90%, rgba(0, 0, 0, 0.5) 100%); */
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 50%;
                height: 25vh;
                
                /* p{
                    width: 25%;
                    margin-top: 1%; 
                    margin-bottom: 3%;
                } */
                input{
                    font-size: 1.5vw;
                    width:100%;
                    height: fit-content;
                    margin-top: 5%;
                    /* margin-bottom: 2%; */
                }
                textarea{
                    font-size: 1.5vw;
                    width:99%;
                    max-width: 99%;
                    min-width: 99%;
                    height: 15vh;
                    overflow-y: scroll;
                    
                }
            }
            #historyDiv{
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), white 5%, white 90%, rgba(0, 0, 0, 0.5) 100%);
                width: 48%;
                margin-left: 2%;
                height: 25vh;
                overflow-y: auto;
                display: flex;
                flex-wrap: wrap;
                #titleDiv{
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: center;
                    p{
                        text-align: center;
                    }
                }
                .entry{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    border-bottom: 1px solid grey;
                    padding-bottom: 1%;
                    height: fit-content;
                    
                    #nameDiv{
                        width:15%;
                    }
                    #descDiv{
                        
                        width: 30%;
                        line-height: 1.5em;
                        height: 3em;
                        overflow-x: hidden;
                        overflow-y: auto;
                        white-space: wrap;
                        text-wrap: wrap;
                        text-align: center;
                        overflow-wrap: break-word;
                    }
                    #boxDiv{
                        width: 20%;
                    }
                    #timeDiv{
                        
                        width: 20%;
                    }
                    #versDiv{
                        
                        width: 10%;
                    }
                    .subEntry{
                        font-size: 1vw;
                        max-height: 4vw;
                        overflow-y: auto;
                        /* overflow-x:none;
                        overflow-y: auto;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        text-overflow: clip; */
                    }
                }
            }
            #finishs{
                width: 100%;
                height: 22vh;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-inline: 3%;
                #boxesSelect{
                    width: 70%; 
                    height: inherit;          
                }
                #finishDiv{
                    width:25%;
                    height: fit-content;
                    padding-top: 1%;
                    padding-bottom: 1%;
                    button{
                        margin-top: 5%;
                        height: fit-content;
                        width: 100%;
                        padding-top: 10%;
                        padding-bottom: 10%;
                    }
                }
            }  
        }
    }
}