<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/popups.css"/>
    <link rel="stylesheet" href="/static/locations.css" />

    <script defer src="/static/index.js"></script>
    <script defer src="/static/locations.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
</head>
<body>
    <div id="main">
        <div id="locationsMain" class="box">
            <div id="header">
                <div id="buttonDiv">
                    <button id="Home" onclick="location.href='index.html'">Home</button>
                </div>
                <p>Locations</p>
            </div>
            
            <div id="locations">
                
            </div>
        </div>
    </div>
    <div id="locationPopup" class="popup">
        
        <div class="container">
            <div class="xButtonDiv">
                <button onClick="exitLocationPopup()"class="x">X</button>
            </div>
            <div id="locationBarcode">
                <div id="scan">
                    <input placeholder="Scan Barcode" id="barcodeLocationInput">
                    <p></p>
                    <button id="submit" onClick="submitLocationBarcode()">submit
                        <span class="errorPopup" id="locationErrorPopup">Invalid Barcode</span>
                    </button>
                </div>
                <p class="or">OR</p>
                <div id="select" class="selectMain">
                    <p>Select location:</p>
                    <div id="locationsSelect" class="selectSub">
                    </div>
                </div>
            </div>
            <div id="locationInfo">
                <div id="topDiv">
                    <img id="locImg" src=""></img>
                    <div id="imgButtonDiv">
                        <button id="imgButton" onClick="camera()">Add/Change Image</button>
                    </div>
                    <img id="barcodeImg"></img>
                    <div id="printDiv">
                        <button id="print" onClick="printBarcode()">Print Barcode</button>
                        <input type="checkbox" id="includeLocationName">
                        <label id="includeNameLabel">Include Name</label><br>
                    </div>
                </div>
                <div id="inputDiv">
                    <input placeholder="Name" id="locationNameInput">
                    
                    <textarea placeholder="Description" id="descriptionInput"></textarea>
                </div>
                <div id="finishs">
                    
                    <div id="boxesListSelect" class="selectMain">
                        <p>boxes:</p>
                        <div id="select" class="selectSub">
                            <!-- <div class='mini'>
                                <button>
                                    <img src='/resources/imageTemplate.png'>
                                    <p id='name'>${location.name}</p>
                                    <p id='code'>${location.barcode}</p>
                                </button>
                            </div> -->
                            
                            
                        </div>
                    </div>
                    <div id="finishDiv">
                        <button id="history" onClick="locationHistoryPopup()">View History</button>
                        <button id="finish" onClick="finishLocation()">Finish</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div id="cameraPopup" class="popup">
        <div class="container">
            <div class="xButtonDiv">
                <button onClick="exitCameraPopup()" class="x">X</button>
            </div>
            <div id="box">
                <div id="camera">
                    <video id="video">Video stream not available.</video>
                    <button id="start-button">Take photo</button>
                </div>
                <div id="confirm">
                    <canvas id="canvas"> </canvas>
                    <button id="retake" onClick="retake()">Retake photo</button>
                    <button id="save" onClick="save()">save photo</button>
                </div>
            </div>
        </div>
    </div>
    <div id="locationHistoryPopup" class="popup">
        
        <div class="container">
            <div class="xButtonDiv">
                <button onClick="exitLocationHistoryPopup()"class="x">X</button>
            </div>
            <div id="historyDiv">
                <div id="titleDiv"><p class='title'>History</p></div>
                <div id="headerEntry" class="entry">
                    <b id='nameDiv' class='subEntry'>Image</b>
                    <b id='nameDiv' class='subEntry'>Name</b>
                    <b id='descDiv' class='subEntry'>Description</b>
                    <b id='boxDiv' class='subEntry'>Boxes</b>
                    <b id='timeDiv' class='subEntry'>Time</b>
                    <b id='versDiv' class='subEntry'>Version</b>
                </div>
            </div> 
        </div>
    </div>
</body>