<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/popups.css"/>
    <link rel="stylesheet" href="/static/locations.css" />

    <script defer src="/static/locations.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
</head>
<body>
    <div id="main">
        <div id="locationsMain" class="box">
            <div id="header">
                <div id="buttonDiv">
                    <button id="Home" onclick="location.href='index.html'">Home</button>
                </div>
                <p>Locations</p>
            </div>
            
            <div id="locations"></div>
        </div>
    </div>
</body>